@model List<MovieType>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Film Türleri</h3>
<a href="/film-turleri-ekle" class="btn btn-success pull-right" style="margin-bottom:10px;">Film Türü Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ad</th>
            <th scope="col">Dil Adı</th>
            <th scope="col" style="width:150px;">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Name</td>
                <td>@item.Language.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="UpdateMovieType" asp-controller="Admin" asp-route-id="@item.ID">Güncelle</a>
                    <a class="btn btn-danger" asp-action="DeleteMovieType" asp-controller="Admin" asp-route-id="@item.ID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>