@model List<User>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Kullanıcılar</h3>
<a href="/kullanici-ekle" class="btn btn-success pull-right" style="margin-bottom:10px;">Kullanıcı Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">E-posta</th>
            <th scope="col">Şifre</th>
            <th scope="col">Yönetici Mi</th>
            <th scope="col" style="width:150px;">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>
                    @if (item.IsAdmin)
                    {
                        @:Evet
                    }
                    else
                    {
                        @:Hayır
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="UpdateUser" asp-controller="Admin" asp-route-id="@item.ID">Güncelle</a>
                    <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@item.ID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>